*::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: #f2f2f2;
  border-radius: 20px;

}

*::-webkit-scrollbar-thumb {
  background-color: #929292;
  border-radius: 20px;
  border: 3px solid white;
}

body {
  overflow: hidden;
}